@font-face {
    font-family: "Urbanist-Reg";
    src: url("../font/Urbanist-Regular.ttf");
}

@font-face {
    font-family: "Urbanist-Bold";
    src: url("../font/Urbanist-Regular.ttf");
}

@font-face {
    font-family: "Urbanist-Black";
    src: url("../font/Urbanist-Regular.ttf");
}

@font-face {
    font-family: "Urbanist-Light";
    src: url("../font/Urbanist-.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********** Font allgemeine Styles *************/

html{
    font-family: "Urbanist-Reg";
    font-size: 16pt;
    line-height: 120%;
}

h2{
    font-family: "Urbanist-Black";
    font-size: 40pt;
    line-height: 150%;
}

h3{
    font-family: "Urbanist-Black";
    font-size: 38pt;
    line-height: 150%;
}

h4{
    font-family: "Urbanist-Bold";
    font-size: 20pt;
    line-height: 150%;
}

li{
    list-style: none;
    font-size: 14pt;
}

a{
    text-decoration: none;
    font-size: 14pt;
    color: black;
}

b{
    font-family: "Urbanist-Black";
    text-decoration: underline;
}

/********** Button allgemein *************/

button{
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: inset -3px -3px 2px 0px rgba(0,0,0,0.50);
    padding: 10px 20px;
    margin-top: 10px;
    height: 50px;
    width: 300px; 
    font-size: 16pt;
    font-family: "Urbanist-Bold";
}

.btn_green{
    background-color: #A9CBA6;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/********** Styles allgmein *************/
.flex{
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
    margin: 3%;
    justify-content: center;
}

.textbox{
    text-align: center;
    margin: 50px 20%;
}

ul{
    margin: 15px;
    line-height: 180%;
}

/********** Navigation *************/
nav{
    border-radius: 50px;
    border: 1px solid black;
    margin: 15px 15%;
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex; 
}

.nav li{
    padding-left: 10px;
    padding-right: 10px;
}

#logo_Nav{
    padding-left: 15px;
}

i{
    color: #A9CBA6;
}

/********** Hero *************/
#hero{
    background-image: url(../img/background/Ilustration_Header\ 1.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    height: 90svh;
}

h1{
    font-family: "Urbanist-Black";
    font-size: 95pt;
    line-height: 80%;
    width: 500px;
    margin: 150px 40svw 60px 300px;
    padding-top: 16%;
}

select{
    appearance: none;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: inset -3px -3px 2px 0px rgba(0,0,0,0.50);
    margin-bottom: 20px;
    height: 50px;
    width: 300px; 
    font-size: 16pt;
    font-family: "Urbanist-Bold";
    padding: 8px;
    text-align: center; 
    position: relative;
    top: 8px;
}

.select::after{
    content: "∨";
    position: relative;
    right: 1rem;
    pointer-events:stroke;
    right: 40px;
    
}

.select_img{
    z-index: 20;
    position: relative;
    left: 50px;
    top: 8px;
}

/********** Warum Camper mieten *************/

.karte_argument{
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: inset -3px -3px 2px 0px rgba(0,0,0,0.50);
    padding: 20px 20px 0px 20px;
    margin-bottom: 25px;
    width: 17.5%;
    min-width: 230px;
   background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.karte_argument img{
    height: 50%;
    object-fit: contain;
}

.karte_argument p{
    margin: 20px 0px 0px 0px;
}

#warum_camper{
    background-image: url(../img/background/background\ green.svg);
    background-repeat: no-repeat;
    background-position: top left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#CamperFinden{
    margin: 2% 0% 15% 0%;
}

/********** Qual der Wahl *************/
.karte_van{
    background-color: #F0CEA0;
    width: 30%;
    min-width: 370px;
    margin: 25px 0px 25px 0px;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: inset -3px -3px 2px 0px rgba(0,0,0,0.50);
}

.Van_Bild{
    background-color: white;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    border-bottom: 1px solid black;
    box-shadow: inset -3px 0px 2px 0px rgba(0,0,0,0.50);
    padding: 0px 10px 0px 0px;
}

#qual_der_wahl{
    background-image: url(../img/background/Background\ Blue.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.preis{
    font-size: 36pt;
    font-weight: 900;
    padding-top: 20px;
}

span{
    font-size: 20pt;
}

.karte_van div:first-of-type{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

li > img{
    margin-right: 15px;
}

.karte_van div:last-of-type{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom:  5% ; 
}


/********** Footer *************/

footer{
    border-top: 2px solid black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo_footer{
    width: 120px;
    height: 120px;
}

footer a{
    margin: 5px;
}

footer div{
    padding-top: 15px;
}


