/* Mobil */

/* @media only screen and (min-width: 380px) and (max-width: 768px) {   
 */
 /********* Fontstyles *******/
    html{
        font-family: "Urbanist-Reg";
        font-size: 14pt;
        line-height: 120%;
    }

    h1{
        font-size: 28pt;
        margin: 10% 60% 8% 13%;
        padding-bottom: 15px;
    }
    
    h2{
        font-size: 35pt;
        margin-top: 25%;
    }
    
    h3{
        font-size: 35pt;
    }
    
    h4{
        font-size: 20pt;
    }

/* *********** Nav **************/

    .burger-menu{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 10px 15px;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 3px 0;
      }

    .nav{
        display: none;

    }
    #hero{
        height: 40svh;
    }

    nav{
        padding: 10px;
        margin: 20px;
    }


    footer div:first-of-type{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

