/* TABLET */
/* @media only screen and (min-width: 768px) and (max-width: 1024px) {
 */

    nav{
        width: 90%;
        margin: 5%;
        padding: 10px;
    }

    .burger-menu{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 10px 15px;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 3px 0;
      }

    .nav{
        display: none;
    }

    #hero{
        height: 35svh;
    }
  
    h1{
        font-size: 50pt;
        margin: 100px 400px 40px 140px;
        padding-top: 170px;
    }

    .textbox{
        margin-top: 12%;
    }


    footer div:first-of-type{
        text-align: center;
    }



